<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocks but Stupid - 404</title>
</head>
<body>
    <p>We weren't able to find the page you were looking for!</p>
    <a href="/">Click here to return the homepage.</a>
</body>
</html>