<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/general.css">
    <link rel="stylesheet" href="./css/content.css">
    <title>Stocks but Stupid - News</title>
</head>
<body>
    {{>navbar}}
    <img id="thumbnail" src="./img/news.jpg" alt="News thumbnail">
    <div id="thumbnail-cover"></div>
    <div id="thumbnail-push"></div>
    <div id="message">
        <p style="font-size: 36px;">Let the virtual news guide you to what stocks to buy next!</p>
    </div>
    <div class="divider"></div>
    <div style="height: 80vh; margin: 4vh 3vw; padding: 1vh 1vw; background: white;">
        
    </div>
</body>
</html>