<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/general.css">
    <link rel="stylesheet" href="./css/portfolio.css">
    <title>Stocks but Stupid - Your Portfolio</title>
</head>
<body>
    {{>navbar}}
    <img id="thumbnail" style="height: 100vh;" src="./img/phone.jpg" alt="Register thumbnail">
    <div id="thumbnail-cover" style="height: 100vh;"></div>
    <div id="message">
        <div id="button-column">
            <img src="./img/coin.jpg" class="button bone">
            <img src="./img/market.jpg" class="button btwo">
            <img src="./img/question.jpg" class="button bthree">
        </div>
        <div class="display done">
            <div>
                <div style="font-family: Montserrat;">
                    <p style="font-size: 36px;">Balance</p>
                    <span style="font-size: 54px;" id="balance-amount">$0</span>
                    <div style="height: 6vh;"></div>
                    <p style="font-size: 36px;">Worth</p>
                    <span style="font-size: 54px;" id="worth-amount">$0</span>
                </div>
            </div>
        </div>
        <div class="display dtwo">
            <div>
                <div>
                    <p style="margin-bottom: 10px;">Invest/Sell Stocks</p>
                    <label for="stock-code">Stock Code:</label>
                    <input id="stock-code" type="text"><br>
                    <label for="stock-code">Stock Amount:</label>
                    <input id="stock-amount" type="number" min="1" max="999"><br>
                    <input id="stock-buy" type="submit" value="Buy">
                    <input id="stock-sell" type="submit" value="Sell">
                    <div id="stock-border">
                        <p style="font-size: 34px; color: green;" id="stock-name">N/A</p>
                        <div id="stock-info">
                            <p id="stock-category"></p>
                            <p id="stock-price"></p>
                            <p id="stock-change"></p>
                        </div>
                    </div>
                    <p id="notice"></p>
                </div>
            </div>
        </div>
        <div class="display dthree">
            <div>
                <div id="all-stocks"></div>
            </div>
        </div>
    </div>
    <script src="./js/portfolio.js"></script>
</body>
</html>