<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/general.css">
    <link rel="stylesheet" href="./css/rankings.css">
    <title>Stocks but Stupid - Rankings</title>
</head>
<body>
    {{>navbar}}
    <img id="thumbnail" style="height: 100vh;" src="./img/trophy.jpg" alt="Rankings thumbnail" loading="lazy">
    <div id="thumbnail-cover" style="height: 100vh;"></div>
    <div id="message">
        <p id="first" style="margin-bottom: 20px;"><span id="winner"></span> is <span class="place">on top</span> of the stock market with a net worth of $<span id="winner-cash"></span>!</p>
        <p id="second" style="margin-bottom: 20px;"><span id="second-place"></span> is <span class="place">in second place</span> with a net worth of $<span id="second-place-cash"></span>!</p>
        <p id="third"><span id="third-place"></span> is <span class="place">in third place</span> with a net worth of $<span id="third-place-cash"></span>!</p>
    </div>
    <script src="./js/rankings.js"></script>
</body>
</html>