#market {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.stock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(219, 219, 219);
    margin: 0.6em;
    padding: 1em 0;
    height: 9em;
}

.stock:hover {
    cursor: pointer;
}

#overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
    display: none;
}

#overlay-msg {
    width: 300px;
    height: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 30px;
    z-index: 4;
    text-align: center;
}

#overlay-stock-name {
    font-size: 42px;
    font-family: "Montserrat";
    font-weight: 700;
    margin: 32px 0 16px 0;
}

#past-changes {
    margin-top: 16px;
    max-height: 170px;
    overflow-y: scroll;
}

#close {
    position: absolute;
    top: calc(50% + 145px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    margin: 0 auto;
    background: rgb(223, 17, 17);
    border-radius: 30px;
}

.stock * {
    text-align: center;
}

.code {
    font-weight: 700;
}

.category {
    margin: 0.1em 1em 0.2em 1em;
}

button[buttonDisabled=true] {
    opacity: 0.6;
}

button[buttonDisabled=true]:hover {
    transform: none;
    cursor: default;
}

@media only screen and (max-width: 950px) {
    #market {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    #market {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    #market {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 400px) {
    #market {
        grid-template-columns: repeat(1, 1fr);
    }
}