.article {
    width: calc(100% - 20px);
    background: rgb(129, 167, 218);
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.title {
    font-size: 28px;
    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif !important;
}

.date {
    color: rgb(80, 80, 80);
}

.description {
    margin: 8px 0;
    font-size: 14px;
    font-style: italic;
}

@media only screen and (max-width: 700px) {
    .title {
        font-size: 24px;
    }
}