#message {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#button-column {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.button {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    margin: 20px 0;
    background-position: center;
    background: white;
    object-fit: cover;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    position: relative;
}

.button:hover {
    cursor: pointer;
}

.display {
    width: 60vw;
    height: 70vh;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    display: none;
    align-items: center;
    border-radius: 10vh;
}

.done, .dthree {
    pointer-events: none;
}

.display > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 16px;
    margin-bottom: 0.2em;
    font-family: "JetBrains Mono";
}

input[type=text], input[type=number] {
    padding: 0.25em;
    font-size: 14px;
    font-family: "Montserrat";
    width: 6em;
}

#stock-code {
    margin-left: 1.2em;
}

#stock-buy, #stock-sell {
    padding: 0.3em 0.8em;
    border: none;
    border-radius: 5em;
    background: rgb(44, 44, 44);
    color: white;
    opacity: 0.3;
    margin-top: 0.6em;
}

#notice {
    display: none;
    font-size: 20px;
    padding: 0 0.8em;
    margin-top: 1em;
}

#stock-info {
    font-size: 20px;
}

#stock-category {
    color: rgb(80, 80, 80);
}

#stock-border {
    padding: 0.5em;
    background: white;
    border-radius: 16px;
    margin: 24px auto 0 auto;
    width: 60%;
}

@media only screen and (max-width: 950px) {
    #stock-border {
        padding: 0.2em;
        margin-top: 14px;
    }
    #notice {
        font-size: 18px;
    }
}

@media only screen and (max-width: 700px) {
    #stock-category, #stock-price, #stock-change {
        font-size: 16px;
    }
    #notice {
        font-size: 14px;
    }
    #balance-amount, #worth-amount {
        font-size: 44px !important;
    }
}

@media only screen and (max-width: 550px) {
    #message {
        flex-direction: column-reverse;
    }
    #button-column {
        flex-direction: row;
        margin: 0 auto;
    }
    #button-column .button {
        margin-left: 10px;
        margin-right: 10px;
    }
    .display {
        width: 80vw !important;
        height: 60vh;
        margin-top: 4vh;
    }
}

@media only screen and (max-width: 420px) {
    #button-column .button {
        width: 70px;
        height: 70px;
    }
}